h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: white;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h2 {
  font-family: "roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.main-header {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 17px;
  background-color: white;
  box-shadow: black 2px transparent 15%;
}

.main-header img {
  height: 44px;
  width: 162px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 22px 25px 22px 25px;
  gap: 16px;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.contact img {
  width: 11px;
  height: 13px;
}

.cards {
  width: 340px;
  height: 251px;
  border: none;
  border-radius: 15px;
}

.localisation-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  gap: 17px;
  box-shadow: inset 0 4px 5px rgba(168, 170, 168, 0.4), 0 4px 5px rgba(153, 153, 153, 0.688);
}

.localisation-content img {
  width: 12px;
  height: 16px;
}

ul {
  list-style-type: none;
}

.fonction {
  display: flex;
  flex-direction: column;
}

.fonction ul {
  flex-direction: row;
}

.fonction .card .number {
  display: flex;
  flex-direction: row;
}
.fonction .card .number .fonction .card .number p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: white;
  border: 2px solid;
  border-radius: 20px;
  background-color: #9356dc;
}

.fonction .card .number img {
  width: 13px;
  height: 16px;
}

.cards img {
  width: 100%;
  height: 231px;
}

.explorer {
  padding: 35px 35px;
  gap: 15px;
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}