footer {
	display: flex;
	flex-direction: column;
	background-color: black;
	padding: 22px 25px 22px 25px;
	gap: 16px;
	width: 100%;
}
.end-page {
	position: absolute;
	bottom: -644px;
}
.end-page1 {
	position: absolute;
	bottom: -704px;
}
.end-page2 {
	position: absolute;
	bottom: -65%;
}
footer img {
	width: 137px;
	height: 26px;
}
footer h1 {
	color: white;
}
.contact {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}
.contact img {
	width: 11px;
	height: 13px;
}
@media screen and (min-width: 768px) {
	.end-page2 {
		bottom: -85%;
	}
	.end-page1 {
		bottom: -90%;
	}
}
