.main-header {
	display: flex;
	justify-content: center;
	padding: 10px;
	gap: 17px;
	background-color: #ffff;
	box-shadow: black 2px transparent 15%;
}
.main-header img {
	height: 44px;
	width: 162px;
}
