.header__container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 63px;
	width: 100%;
	box-shadow: black 2px;
}
.header__img img {
	height: 44px;
	width: 162px;
}
.header__link {
	display: flex;
	align-items: center;
}
.header__container .header__link .fa-arrow-left {
	position: absolute;
	left: 20px;
	font-size: 20px;
}
