* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.loading-container {
	display: flex;
	justify-content: center;
	animation: fadeOut 3s forwards 5s; /* Animation qui disparaît après 5s */
}

/* Cercle animé */
.loading-circle {
	border: 8px solid #ddd;
	border-top: 8px solid #3498db;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 2s;
}

/* Animation de rotation */
@keyframes spin {
	0% {
		opacity: 1;
		transform: rotate(0deg);
	}

	100% {
		opacity: 0;
		transform: rotate(360deg);
	}
}

/* Texte de chargement */
.loading-text {
	margin-top: 15px;
	color: #555;
	font-size: 1.2em;
	animation: fadeOutText 3s forwards 5s;
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

/* Animation pour faire disparaître le texte après 5 secondes */
@keyframes fadeOutText {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
