h1 {
	font-family: "Shrikhand", system-ui;
	font-weight: 400;
	font-style: italic;
	color: black;
}
p {
	font-family: "Roboto", system-ui;
	font-weight: 300;
	font-style: normal;
}
h3 {
	font-size: 16px;
	font-weight: 500;
	font-family: "Roboto", system-ui;
	font-style: normal;
}
