h1 {
	font-family: "Shrikhand", system-ui;
	font-weight: 400;
	font-style: italic;
	color: white;
}
p {
	font-family: "Roboto", system-ui;
	font-weight: 300;
	font-style: normal;
}
h2 {
	font-family: "roboto", system-ui;
	font-style: normal;
	font-size: 24px;
	font-weight: 700;
}
h3 {
	font-size: 16px;
	font-weight: 500;
	font-family: "Roboto", system-ui;
	font-style: normal;
}

h4 {
	font-family: "Roboto", system-ui;
	font-style: normal;
	font-size: 16px;
	font-weight: 500;
	color: white;
}
