.bouton {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	width: 218px;
	height: 50px;
	border-radius: 25px;
	background: linear-gradient(
		193.33deg,
		$main-color -11.44%,
		$second-color 123.93%
	);
	color: white;
	border: none;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	transition: background 0.3s, box-shadow 0.3s;
}
.back-button {
	width: 30px;
	height: 30px;
	border: none;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu .menu-cards button i {
	width: 20px;
	height: 20px;
	color: transparent;
}
.boutons {
	width: 186px;
	height: 50px;
	border-radius: 25px;
	margin-bottom: 40px;
	background: linear-gradient(
		193.33deg,
		$main-color -11.44%,
		$second-color 123.93%
	);
	color: white;
	border: none;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	transition: background 0.3s, box-shadow 0.3s;
}
.push-button {
	position: absolute;
	top: 50%;
	right: -59px; /* Décalage pour le placer à côté de la carte */
	transform: translateY(-50%);
	width: 59px;
	height: 69px;
	background-color: #99e2d0;
	color: #99e2d0;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	opacity: 0;
	pointer-events: none; /* Rendre le bouton inactif quand invisible */
	transition: opacity 0.3s ease;
}
.push-button i {
	background-color: white;
	padding: 8px;
	border-radius: 50%;
}
