.card {
	display: flex;
	align-items: center;
	width: 100%;
	height: 73px;
	background-color: #f6f6f6;
	border-radius: 20px;
}

.cards {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 251px;
	border: none;
	border-radius: 15px;
	background-color: white;
	padding: 0;
}
.menu-card {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.menu-cards {
	height: 69px;
	background-color: white;
	transition: all 0.3s ease;
	color: #333;
	border-radius: 15px;
	box-shadow: 0 4.01px 15.04px 0 rgba(0, 0, 0, 0.1019607843);
}
.menu-card p {
	display: flex;
}
.menu-cards span {
	justify-content: flex-end;
}
@media screen and (min-width: 768px) {
	.menu-cards {
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
		border: 1px solid #ccc;
		border-radius: 8px;
		box-shadow: 0 4.01px 15.04px 0 rgba(0, 0, 0, 0.1019607843);
	}
	.menu-cards h2 {
		padding-bottom: 5px;
	}
	.menu-cards p {
		margin-bottom: 5px;
	}
	.menu-cards span {
		align-self: center;
	}
	.price {
		position: absolute;
		right: 249px;
		margin-bottom: 5px;
		display: flex;
		align-self: flex-end;

		transition: transform 0.3s ease; /* Animation du déplacement */
	}

	.push-button {
		position: relative;
		left: 146px;
		width: 59px;
		height: 69px;
		cursor: pointer;
		background-color: #00000000;
		color: white;
		border-radius: 0 15px 15px 0;
		transition: transform 0.3s ease; /* Animation de la montée */
		text-align: center;
	}

	.checkbox {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	/* Styles pour l’effet de clic */
	.toggle-checkbox:checked ~ .price {
		transform: translatex(-20px); /* Déplace le prix légèrement vers le haut */
	}

	.toggle-checkbox:checked ~ .push-button {
		place-self: end;
		background-color: #99e2d0;
		left: 18px;
		background-color: $ter-color; /* Change la couleur du bouton au clic */
	}
	input[type="checkbox"]:checked + label .checkbox i {
		display: inline-block;
		color: green; /* Vous pouvez personnaliser la couleur */
	}

	input[type="checkbox"]:checked + label.push-button {
		background-color: #f0f0f0;
	}
	/* Masque l'icône par défaut et ne l'affiche qu'au clic */
	.push-button .checkbox i {
		display: none;
	}
}
