.card {
	display: flex;
	align-items: center;
	width: 335px;
	height: 73px;
	background-color: #f6f6f6;
	border-radius: 20px;
}

.cards {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 251px;
	border: none;
	border-radius: 15px;
	background-color: white;
	padding: 0;
}
