ul {
	list-style-type: none;
}
.explorer {
	padding: 35px 35px;
	gap: 15px;
	background-color: #f6f6f6;
	width: 100%;
	height: 284px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.fonction {
	pointer-events: none;
	display: flex;
	flex-direction: column;
	padding: 25px;
	gap: 32px;
}
.media-card {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.card .number {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.card .number p {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	background-color: $main-color;
	color: white;
	font-weight: 500;
	font-size: 15px;
	border-radius: 25px;
}
.card .number img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 13px;
	height: 20px;
}
.resto {
	display: flex;
	flex-direction: column;
	gap: 17px;
	padding: 20px;
	background-color: #f6f6f6;
}
.media-resto {
	gap: 17px;
	display: flex;
	flex-direction: column;
}

.cards img {
	width: 100%;
	height: 174px;
	border-radius: 15px 15px 0 0;
	object-fit: cover;
}
.cards .badge {
	display: flex;
	background-color: $ter-color;
	width: 80px;
	height: 29px;
	position: relative;
	left: 357px;
	top: 13px;
	border-radius: 2px;
	margin-bottom: -29px;
}
.badge p {
	display: flex;
	justify-content: center;
	padding: 6px;
}
nav {
	display: flex;
	flex-direction: column;
}
.cards nav a {
	text-decoration: none;
	margin: 10px 0 0 20px;
	display: flex;
	justify-content: space-between;
}

.cards nav i {
	position: relative;
	left: 443px;
	cursor: pointer;
}

.heart-full {
	display: none;
	color: $main-color; /* Couleur du cœur lorsqu'il est activé */
	transform: scale(0); /* Commence à zéro pour l'animation */
	transition: transform 0.3s ease, opacity 0.3s ease;
}
.checkbox {
	display: none;
}

/* Afficher et animer le cœur plein avec une latence */
.checkbox:checked ~ .heart-full {
	display: inline;
	transform: scale(1); /* Agrandissement pour simuler le remplissage */
	opacity: 1;
}

/* Masquer le cœur vide quand la checkbox est cochée */
.checkbox:checked ~ .heart-icon {
	display: none;
}

/* Ajouter un effet d'animation au cœur lorsqu'il est sélectionné */
.checkbox:checked ~ .heart-full {
	animation: heart-fill 0.3s ease;
}

@keyframes heart-fill {
	0% {
		transform: scale(0.5);
		opacity: 0;
	}
	50% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}

.cards nav p {
	margin: 0 0 0 20px;
}

@media (min-width: 1024px) {
	.fonction {
		display: flex;
		padding: 50px 180px 50px 180px;
		gap: 25px;
	}
	.media-card {
		flex-direction: row;
		justify-content: space-around;
	}
	.resto {
		padding: 20px 180px 0 180px;
		gap: 28px;
	}
	.media-resto {
		display: grid;
		grid-template-columns: 490px 490px;
		justify-content: center;
		column-gap: 100px;
		row-gap: 50px;
		margin-bottom: 20px;
	}
}
