ul {
	list-style-type: none;
}
.explorer {
	padding: 35px 35px;
	gap: 15px;
	background-color: #f6f6f6;
	width: 100%;
	height: 284px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.fonction {
	display: flex;
	flex-direction: column;
	padding: 25px;
	gap: 32px;
}
.card .number {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.card .number p {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	background-color: $main-color;
	color: white;
	font-weight: 500;
	font-size: 15px;
	border-radius: 25px;
}
.card .number img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 13px;
	height: 20px;
}

.cards img {
	width: 100%;
	height: 231px;
}
