.img img {
	width: 100%;
	object-fit: cover;
}
.menu {
	margin-top: -50px;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 100%;
	border-radius: 20px 20px 0 0;
	background-color: #f6f6f6;
}
.menu .menu__button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu h1 {
	color: black;
	padding-top: 10px;
}
.menu-card h3 {
	display: inline-block;
	border-bottom: 3px solid #99e2d0;
	padding-bottom: 6px;
	width: 40px;
}
.menu-card .menu-cards p {
	display: flex;
	align-items: center;
}
.menu-card .menu-cards span {
	position: absolute;
	right: 20px;
}
