.img img {
	height: 275px;
	width: 100%;
	object-fit: cover;
}
.menu {
	margin-top: -50px;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 100%;
	border-radius: 20px 20px 0 0;
	background-color: #f6f6f6;
}
.name label {
	cursor: pointer;
}
.heart-full {
	display: none;
	color: $main-color;
	transform: scale(0); /* Commence à zéro pour l'animation */
	transition: transform 0.3s ease, opacity 0.3s ease;
}
.checkbox {
	display: none;
}

/* Afficher et animer le cœur plein avec une latence */
.checkbox:checked ~ .heart-full {
	display: inline;
	transform: scale(1); /* Agrandissement pour simuler le remplissage */
	opacity: 1;
}

/* Masquer le cœur vide quand la checkbox est cochée */
.checkbox:checked ~ .heart-icon {
	display: none;
}

/* Ajouter un effet d'animation au cœur lorsqu'il est sélectionné */
.checkbox:checked ~ .heart-full {
	animation: heart-fill 0.3s ease;
}

@keyframes heart-fill {
	0% {
		transform: scale(0.5);
		opacity: 0;
	}
	50% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}
.menu .menu__button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.name {
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	align-items: center;
}
.menu-card h3 {
	display: inline-block;
	border-bottom: 3px solid #99e2d0;
	padding-bottom: 6px;
	width: 40px;
}
.menu-card .menu-cards p {
	display: flex;
	align-items: center;
}
.menu-card .menu-cards span {
	position: absolute;
	right: 20px;
}
