.img img {
	height: 275px;
	width: 100%;
	object-fit: cover;
}
.menu {
	margin-top: -50px;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 100%;
	border-radius: 20px 20px 0 0;
	background-color: #f6f6f6;
	padding: 1rem;
}
.name label {
	cursor: pointer;
}
.name {
	display: flex;
	justify-content: space-evenly;
	padding-top: 10px;
	align-items: center;
	gap: 40px;
}
.menu .menu__button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-card h3 {
	display: inline-block;
	border-bottom: 3px solid #99e2d0;
	padding-bottom: 6px;
	width: 40px;
}
.menu-card .menu-cards p {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-cards .checked-container {
	display: flex;
	flex-direction: row;
	background-color: transparent;
	position: absolute;
	right: 0;
	height: 69px;
	width: 59px;
}

.heart_container {
	position: relative;
	display: inline-block;
}

.heart-icon,
.heart-full {
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.3s ease; /* Animation douce */
}

.heart-icon {
	opacity: 1;
}

.heart-full {
	opacity: 0;
}

/* Lorsqu'on coche la case, on montre l'icône pleine et on cache l'icône vide */
.checkbox:checked + .heart-icon {
	opacity: 0;
}

.checkbox:checked + .heart-full {
	opacity: 1;
}
.push-button .checkbox i {
	display: flex;
	justify-content: center;
	color: $ter-color;
	background-color: white;
	width: 20px;
	height: 20px;
	opacity: 1;
}

@media screen and (min-width: 768px) {
	.img img {
		height: 383px;
	}
	.menu {
		width: 1055px;
		height: 1221px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: -50px;
		margin-left: 245px;
	}
	.menu-card {
		width: 50%;
		display: flex;
		justify-content: center;
	}
}
