@mixin image-size($width, $height) {
	width: $width;
	height: $height;
}
@mixin h2-menu {
	font-family: "roboto", sans-serif;
	font-size: 18px;
	font-weight: 500;
}
@mixin h2-index {
	font-family: "roboto", sans-serif;

	font-size: 24px;
	font-weight: 700;
}
